<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>bookmyCelebration</title>
    <link rel="icon" href="/titleLogo.png" type="image/icon type">
    <style>
        * {
            padding: 0;
            margin: 0;
            font-family: arial, sans-serif;
            font-size: 18px;
        }
        
        footer {
            width: 100%;
            font-family: 16px;
            text-align: center;
            background-color: black;
            color: whitesmoke;
            letter-spacing: 2px;
            word-spacing: 5px;
            padding: 12px;
        }
        
        header {
            letter-spacing: 1px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg" id="NavBar">
            <div class="container-fluid">
                <a class="navbar-brand" aria-current="page" href="/logedinhome">bookMyCelebration</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/logedinhome">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Event</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/addevent">Add Event</a></li>
                                <li><a class="dropdown-item" href="/upcomingevent">Upcoming Event</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/collab">Collabration</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About us</a></li>
                    </ul>
                </div>
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a class="nav-link" href="/home">LogOut</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>