<html>

<head>
    <style>
        table {
            font-size: 20px;
        }
        
        #container {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>
    <link rel="icon" href="/titleLogo.png" type="image/icon type">
</head>

<body>
    <%- include("header2") %>
        <main>
            <div id="container">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Organize by</th>
                            <th scope="col">Event Type</th>
                            <th scope="col">Date and Time</th>
                            <th scope="col">Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>Maxico</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <%- include("footer") %>
</body>

</html>